.container {
  position: relative;
  width: 100%;
  display: grid;
  display: grid;
  grid-template-rows: auto 96px;
  grid-template-areas:
          "a b"
          ". .";
  grid-template-columns: auto auto;
}

.rightBlock {
  grid-area: b;
  display: flex;
  overflow: hidden;
}

.rightBlockInner{
  position: relative;
  width: 100%;
}

.innerBgOval:before {
  content: '';
  position: absolute;
  width: 487px;
  height: 485px;
  right: 0;
  top: -219px;
  background: #dc75a5;
  mix-blend-mode: normal;
  z-index: 1;
  opacity: 0.12;
  filter: blur(135.914px);
}
.innerBgOval6:before {
  content: '';
  position: absolute;
  width: 628px;
  height: 625px;
  left: -314px;
  top: 524px;
  background: #3979F3;
  mix-blend-mode: normal;
  opacity: 0.12;
  filter: blur(135.914px);
}
.leftBlock {
  grid-area: a;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-end;
  overflow: hidden;
}
.leftBlockInner{
  position: relative;
  width: 100%;
}
.blockContent {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9999;
}
.blockSocialIcons {
  margin-top: 95px;
}
.icons a {
  margin-right: 24px;
}
.blockTopText {
  color: #00000099;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 11px;
}
.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  margin-bottom: 25px;
}
.subtitle {
  margin-bottom: 11px;
  color: #00000099;
}
.buttonBlock {
  margin-top: 45px;
}
.button {
  background: #3d5afe;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.025em;
}
.banner img {
  width: 435px;
  height: 482px;
}

@media screen and (max-width: 600px){
  .rightBlock {
    grid-area: a;
  }
  .leftBlock {
    grid-area: b;
  }
  .blockContent {
    align-items: center;
    justify-content: center;
  }
  .blockTopText{
    grid-area: a;
    margin-top: 24px;
    text-align: center;
  }
  .subtitle{
    grid-area: c;
    text-align: center;
  }
  .blockSocialIcons{
    grid-area: d;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 16px;
  }
  .buttonBlock{
    grid-area: e;
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  .blockContent{
    display: grid;
    grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e";
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }
}