.leftBlock {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.banner {

}
.rightBlock {
  grid-area: b;
  display: flex;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 600px){
  .rightBlock {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .leftBlock {
    align-items: center;
    justify-content: center;
  }
}