.bannerContainer {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-rows: 45px auto 45px;
    grid-template-areas:
            ". . . . ."
            ". a . b ."
            ". . . . .";
    grid-template-columns: 15% auto 50px auto 15%;
    z-index: 9998;
    background: #fff;
    overflow: hidden;
}

@media screen and (max-width: 360px){
    .bannerContainer {
        overflow: hidden;
        justify-content: center;
    }
}

@media screen  and (max-width: 600px) {
    .bannerContainer {
        display: grid;
        grid-template-rows: 10px auto auto 10px;
        grid-template-areas: ". . ." ". a ." ". b ." ". . .";
        grid-template-columns: 5% auto 5%;
        z-index: 9998;
        background: #fff;
        overflow: hidden;
        justify-content: center;
    }
}

@media screen  and (max-width: 800px){
  .bannerContainer {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 10px auto auto 10px;
  }
}