.bannerContainer {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-rows: 90px auto 90px;
  grid-template-areas:
          ". . . . ."
          ". a . b ."
          ". . . . .";
  grid-template-columns: 90px auto 50px auto 90px;
  z-index: 9998;
  background: #fff;
  overflow: hidden;
}
@media screen  and (max-width: 600px) {
    .bannerContainer {
        display: grid;
        grid-template-rows: 36px auto auto 36px;
        grid-template-areas: ". . ." ". a ." ". b ." ". . .";
        grid-template-columns: 10px auto 10px;
        z-index: 9998;
        background: #fff;
        overflow: hidden;
    }
}

@media screen  and (max-width: 800px){
  .bannerContainer {
    display: grid;
    grid-template-columns: 5% auto 5%;
  }
}