.bannerContainer{
    width: 100vw;
    display: grid;
    position: relative;
    grid-template-rows: 90px auto 90px;
    grid-template-areas:
            " . . . . ."
            ". a . b ."
            ". . . . .";
    grid-template-columns: 330px auto 100px auto 330px;
    z-index: 999;
    background: #fff;
}
