body, html {
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}
.contentContainer{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    z-index: 9999;
}

.bannerTitle{
    font-size: 42px;
    font-weight: 900;
    line-height: 56px;
    margin-bottom: 25px;
}
.bannerSubTitle{
    margin-bottom: 11px;
    color: #00000099;
    max-width: 380px;
}
.linkApp{
    color: #3D5AFE;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.moreLink{
    margin-top: 45px;
}
.moreLink a{
    color: #3D5AFE;
    text-decoration: none;
}
@media screen and (max-width: 600px){
    .linkApp {
        margin-bottom: 10px;
        letter-spacing: 2px;
        line-height: 16px;
    }
    .moreLink {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
    }
    .bannerTitle {
        grid-area: b;
        text-align: center;
        font-size: 26px;
        line-height: 27px;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    .bannerSubTitle {
        text-align: center;
    }
}

@media screen  and (max-width: 800px){
    .bannerTitle {
        grid-area: b;
        text-align: center;
        font-size: 27px;
        line-height: 26px;
        text-transform: capitalize;
    }
    .bannerSubTitle {
        text-align: center;
    }
}