.container {
  width: 100vw;
  display: grid;
  position: relative;
  grid-template-rows: 90px auto 90px;
  grid-template-areas:
    " . . . ."
    ". a b ."
    ". . . .";
  grid-template-columns: 330px auto auto 330px;
  z-index: 3;
  background: #fff;
}
.leftBlock {
  grid-area: a;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 9998;
}
.banner {

}

.leftBlockOuter{}
.leftBlockInner{
  position: relative;
}

.innerBgOval:before{
  content: '';
  position: absolute;
  width: 627px;
  height: 624px;
  left: 73px;
  top: -332px;
  background: #DC75A5;
  mix-blend-mode: normal;
  opacity: 0.12;
  filter: blur(135.914px);
  z-index: 1;
}

.innerBgOval7:before{
  content: '';
  position: absolute;
  width: 1038px;
  height: 1033px;
  left: -690px;
  top: -817px;
  background: #FBA649;
  mix-blend-mode: normal;
  opacity: 0.12;
  filter: blur(135.914px);
  z-index: 2;
}

.innerBgOvalCop7:before{
  content: '';
  position: absolute;
  width: 1038px;
  height: 1033px;
  left: -813px;
  top: 444px;
  background: #FBA649;
  mix-blend-mode: normal;
  opacity: 0.12;
  filter: blur(135.914px);
}

.bannerBg3{
  position: absolute;
  width: 868px;
  height: 864px;
  left: 622px;
  top: -806px;
  background: #3979F3;
  mix-blend-mode: normal;
  opacity: 0.12;
  filter: blur(135.914px);
  z-index: 9999;
}
.rightBlock {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
