.container {
    width: 100%;
    height: 72px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-areas: ". a b .";
    grid-template-columns: 24px auto auto 48px;
    position: relative;
    background: #fff;
    z-index: 999;
}
.brandLogo {
    grid-area: a;
    align-self: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.rightButton {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    background: #3D5AFE;
    padding: 6px 13px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.025em;
}
