.container {
  width: 100%;
  display: grid;
  grid-template-areas:
          ". a ."
          ". b .";
  grid-template-rows: auto auto 120px;
  position: relative;
  align-items: center;
  grid-template-columns: 14% auto 14%;
  justify-content: center;
}
.banner {
  display: block;
}
.bannerWrapper{
  grid-area: b;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.bannerTitle{
  grid-area: a;
  margin: 0 auto;
}
.bannerTitle h3{
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
}
.bannerInner{
  padding: 10px;
}
.imageOuter{
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  width: 220px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 600px){
  .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .imageOuter{
    max-width: 144px;
    height: 78px;
  }
  .imageOuter img{
    width: 100%;
  }
}

@media screen and (max-width: 1000px){
  .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
  }
}